/* Bace */

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    margin: 0;
    background-color: rgb(240, 192, 187);
}

.wrapper {
    min-height: calc(100vh - 50px);
}

@font-face {
    font-family: Staatliches;
    src: url(/fonts/Staatliches/Staatliches-Regular.ttf);
}


/* header */

.app-header {
    border-bottom: 5px solid rgb(243, 59, 46);
    padding: 10px 0;
    margin-bottom: 15px;
    background-color: rgb(44, 42, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(224, 28, 28, 0.76);
}

.logo {
    margin-left: 15px;
    font-size: 2rem;
}


/* nav */

nav {
    font-size: 1.6rem;
}

nav a {
    color: rgba(224, 28, 28, 0.76);
    text-decoration: none;
    margin: 0 10px;
}

nav a:last-child {
    margin-right: 20px;
}

.router-link-exact-active {
    color: rgb(233, 136, 132);
}


/* list */

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}


/* book-item list*/

.book-preview {
    width: 230px;
    height: 355px;
    border: 2px solid rgb(160, 147, 147);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.book-preview .title {
    font-size: 1.5rem;
    color: rgb(150, 31, 31);
    font-family: Staatliches;
}

.book-preview .img-book {
    flex-grow: 1;
    width: 180px;
}

.book-preview .price {
    font-size: 1.2rem;
}

.book-preview .price span {
    color: rgb(150, 31, 31);
}

.sale-list-img {
    width: 120px;
    height: 70px;
    position: absolute;
    z-index: 1;
    top: -40px;
    right: -40px;
    transform: rotate(35deg);
}


/* book-details */

.book-details {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 1fr 4fr;
    grid-template-rows: repeat(2, 60px) repeat(3, 50px) 100px;
    gap: 20px;
    font-size: 1.2rem;
    padding: 0 15px;
    margin-bottom: 20px;
    position: relative;
}

.subtitle {
    color: rgb(216, 100, 100);
}

.book-details .title {
    font-size: 3rem;
    grid-row: 1/2;
    grid-column: 1/4;
    color: rgb(211, 52, 52);
    letter-spacing: 2px;
    font-family: Staatliches;
}

.book-details .subtitle-book {
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 1.4rem;
    color: rgb(190, 77, 77);
    border-bottom: 2px solid rgb(125, 126, 125);
}

.book-details .authors {
    grid-row: 3/4;
    grid-column: 1/2;
}

.book-details .published-date {
    grid-row: 3/4;
    grid-column: 2/3;
}

.book-details .page-count {
    grid-row: 4/5;
    grid-column: 1/2;
}

.book-details .categories {
    grid-row: 4/5;
    grid-column: 2/3;
}

.book-details .language {
    grid-row: 5/6;
    grid-column: 1/2;
}

.book-details .price {
    grid-row: 5/6;
    grid-column: 2/3;
}

.book-details .sale-img {
    grid-row: 1/2;
    grid-column: 4/5;
    width: 140px;
    height: 80px;
    transform: rotate(25deg);
    position: absolute;
    top: -20px;
    left: 10px;
    animation: Sale 5s ease-in-out infinite;
}

@keyframes Sale {
    0% {
        transform: rotate(80deg);
    }
    50% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(80deg);
    }
}

.book-details .book-img {
    grid-row: 2/7;
    grid-column: 3/5;
    justify-self: center;
    align-self: flex-end;
}

.book-details .description {
    grid-row: 1/3;
    grid-column: 5/6;
}

.book-details .description .read-more {
    color: rgb(107, 107, 241);
}


/* reviews */

.book-details .reviews-container {
    grid-row: 3/7;
    grid-column: 5/6;
}

.book-review-add {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    padding-top: 30px;
}

.book-review-add .name-container {
    grid-row: 1/2;
    grid-column: 1/2;
}

.book-review-add .rate-container {
    grid-row: 1/2;
    grid-column: 2/3;
}

.book-review-add .textarea-label {
    grid-row: 2/3;
    grid-column: 1/2;
}

.book-review-add #textarea {
    grid-row: 3/4;
    grid-column: 1/3;
    max-width: 300px;
    height: 100px;
}

.book-review-add .send {
    grid-row: 4/5;
    grid-column: 1/2;
    align-self: end;
}

.book-details .buttons {
    grid-row: 6/7;
    grid-column: 5/6;
    display: flex;
    justify-content: space-between;
}

.book-review-add .send,
.book-details .buttons button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(80, 76, 76);
    color: wheat;
    cursor: pointer;
}

.book-reviews-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.book-reviews-preview {
    display: grid;
    background-color: rgb(201, 164, 164);
    padding: 10px;
}

.book-reviews-preview .name {}

.book-reviews-preview .rate {}

.book-reviews-preview .create-at {}

.book-reviews-preview .review-text {}

.justifyEnd {
    justify-self: flex-end;
    align-self: flex-end;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}


/* filter */

.book-filter {
    font-size: 1.3rem;
    margin-left: 40px;
    margin-bottom: 30px;
}

#search-from {
    width: 75px;
}

#search-until {
    width: 75px;
}


/* footer */

.app-footer {
    border-top: 2px solid rgb(88, 92, 88);
    text-align: center;
    padding-top: 10px;
    height: 50px;
    font-size: 1.5rem;
    color: rgb(87, 85, 85)
}